{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },

    "globals": {
        "React": true
    },

    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },

    "plugins": [
        "react"
    ]
}
