
$cardWidth: 300px;
$gridSpacing: 8px;

.boardview-root {
  width: 100vw;
  overflow-x: auto;
  height: 100%;
}
.column-droppable {
  flex-grow: 1;
  height: 100%;
}
.card-droppable {
  flex-grow: 1;
  height: 100%;
}
.column-internals {
  width: $cardWidth;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 20px);
  padding-bottom: 0;
}
.column-internals.dragging-over {
  /* 1) height is -20px normally to avoid bottom being clipped off
     2) 100px padding and -100px height while dragging to give a 100px buffer of
     droppable space to avoid glitching due to dynamic resizing while moving
     cards to the bottom */
  height: calc(100% - 120px);
  padding-bottom: 100px;
}
.root {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: $gridSpacing;
  font-size: 14px;
}
.root * {
  flex-shrink: 0;
}
.column {
  background: #DFEEEE;
  padding: $gridSpacing;
  padding-bottom: 24px;
  width: $cardWidth;
  border: 1px solid #CCDCDC;
  border-radius: 4px;
  margin: $gridSpacing;
  transition: border 0.2s;
  height: calc(100vh - 160px);
  overflow: hidden;
}
.addColumnContainer {
  width: $cardWidth + 5*$gridSpacing;
  margin-left: 0;
}
.addColumnContainer.hidden {
  margin-left: $cardWidth + 4*$gridSpacing + 2px;
}
.addColumn {
  /* we also apply a margin conditionally in the JSX when dragging columns */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: #DFEEEE;
  padding: $gridSpacing;
  padding-bottom: 24px;
  width: $cardWidth;
  border: 1px solid #CCDCDC;
  border-radius: 5px;
  margin: $gridSpacing;
}
.columnHeaderContainer {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.columnHeaderText {
  padding-left: 8px;
  padding-bottom: 0;
  font-size: 1.4em;
  font-weight: 500;
}
.columnHeaderRule {
  overflow: hidden;
  border: none;
  color: #CCDCDC;
  background-color: #CCDCDC;
  height: 1px;
  /* +1 is border */
  width: $cardWidth + $gridSpacing * 2 + 1px;
  margin-left: -$gridSpacing - 1px;
}
.card {
  user-select: none;
  padding: 10px 13px;
  margin: 0 0 $gridSpacing 0;
  background: white;
  border-radius: 3px;
  transition: opacity 0.2s, box-shadow 0.2s;
  overflow: hidden;
  & > p {
    margin: 0;
  }
  &:hover, &:focus {
    box-shadow: 0 1px 3px rgba(100, 100, 100, 0.3);
  }
}
.draggingCard {
  opacity: 0.7;
  box-shadow: 0 1px 3px rgba(100, 100, 100, 0.3);
}
.columnContainer {
  transition: opacity 0.6s;
}
.draggingColumn {
  opacity: 0.7;
}
.editingCardButtons {
  margin-bottom: $gridSpacing;
  box-shadow: 0px 4px 2px -2px rgba(0,0,0,0.15);
  width: 100%;
}
