html, body, #root {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  overflow: hidden;
}
#root {
  flex-shrink: 0;
  flex-basis: auto;
  flex-grow: 1;
  display: flex;
  flex: 1;
}
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
body {
  display: flex;
  overflow-y: auto;
  overscroll-behavior-y: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
}
#jsx-root {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* patch for mui-org/material-ui#18200: clicking on group headers in select causes crash */
.MuiListSubheader-root { pointer-events: none; }

.custom-label {
  color: black !important;
  margin-top: 10px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  /* font-style: italic !important; */
}
@media only screen and (max-width: 800px) {
  .notes-editing {
    display: none;
  }
}
.MuiDialogTitle-root { padding-bottom: 4px !important; }
.MuiButton-containedPrimary {
  background-color: #1976d2 !important;
}
.MuiButton-containedPrimary:hover {
  background-color: #1466b8 !important;
}
#zettel-buttons-container .MuiButton-root {
  padding: 7px 8px;
}
.textcomplete-dropdown {
  border: 1px solid #DDD;
  background-color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 99999 !important; /* appear over MUI dialog */
}
.textcomplete-item {
  margin: 0;
  font-size: 14px;
  padding: 2px 5px;
  cursor: pointer;
}
.textcomplete-item:hover,
.textcomplete-item.active {
  background-color: rgba(0, 0, 0, 0.05);
}
/* .markdown > p {
  display: inline-block;
}
.markdown > p + p {
  display: block;
}
.markdown .inline-math {
  display: inline-block;
  margin: 0 8px;
} */
